@charset "utf-8";

.AnimationList {
    width: 100%;
    padding: 90px 0;

    .AnimationList_inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        &>h2 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 45px;
            margin-top: 45px;
        }

        .AnimationItems {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 75%;
            margin: 0 auto;

            .AnimationItem {
                max-width: 25%;
                flex: 0 0 25%;
                padding: 0 20px;
                height: 450px;

                &>a:hover>.AnimationItemImg {
                    opacity: 0.7;
                }

                &>a:hover .AnimationItemInfo>.AnimationItemInfo_Content {
                    text-decoration: none;
                }


                &>a {
                    display: block;
                    text-align: center;

                    .AnimationItemImg {
                        width: 100%;
                        height: 250px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        position: relative;
                        margin-bottom: 15px;

                        &#AnimationImg1 {
                            background: url('../image/radarV1.jpg') no-repeat center center;
                            background-size: cover;
                        }

                        &#AnimationImg2 {
                            background: url('../image/radarV2.jpg') no-repeat center center;
                            background-size: cover;
                        }

                        &#AnimationImg3 {
                            background: url('../image/radarV3.jpg') no-repeat center center;
                            background-size: cover;
                        }

                        &#AnimationImg4 {
                            background: url('../image/radarV4.jpg') no-repeat center center;
                            background-size: cover;
                        }

                        &>img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            width: 65px;
                            opacity: 1;
                        }
                    }

                    .AnimationItemInfo {
                        .AnimationItemInfo_Title {
                            font-size: 15px;
                            margin-bottom: 15px;
                        }

                        .AnimationItemInfo_Content {
                            font-size: 22px;
                            text-decoration: underline;
                            color: #1592d2;
                            word-break: break-word;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}