@charset "utf-8";

.Header {
    background: #000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;

    .headerTop {
        width: 100%;
        height: 33px;

        .headerTop_inner {
            width: 74%;
            height: 100%;
            overflow: hidden;
            margin: 0 auto;
            border-bottom: thin solid #3e3e3e;

            .headerLanguageList {
                width: 10vw;
                height: 100%;
                margin-left: auto;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;

                ul {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    padding: 10px;
                    justify-content: flex-end;
                    overflow: hidden;
                    flex-wrap: wrap;

                    li {
                        width: 33.3%;
                        text-align: center;

                        a {
                            font-family: 'RobotoL';
                            font-size: 12px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .headerMain {
        height: 55px;
        position: relative;

        .headerMain_inner {
            width: 74%;
            height: 100%;
            margin: 0 auto;

            .headerNavWrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .headerLogo {
                    height: 100%;
                    display: table;

                    a {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                .headerMenu {
                    height: 100%;

                    .headerNav {
                        width: 100%;
                        height: 100%;

                        ul {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: 100%;

                            li {
                                &>a {
                                    padding: 20px;
                                    font-size: 14px;
                                    font-family: 'RobotoR';

                                    &:hover {
                                        color: #1592d2;
                                    }
                                }

                                .secondaryNav {
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    z-index: 9;
                                    overflow: hidden;
                                    max-height: 280px;
                                    color: #000;
                                    max-height: 0;
                                    opacity: 0;
                                    transition: all .8s cubic-bezier(.19, 1, .22, 1);

                                    .secondaryNav_inner {
                                        padding-top: 20px;
                                        padding-bottom: 40px;

                                        .secondaryNavList {
                                            max-width: none;
                                            display: flex;
                                            justify-content: center;

                                            .secondaryNavItem {
                                                font-size: 14px;
                                                min-width: 150px;
                                                opacity: 1;
                                                transition: all .2s linear;
                                                flex: 0 0 auto;
                                                max-width: 100%;
                                                padding: 0 10px;

                                                .secondaryNavItemHeader {
                                                    height: 80px;
                                                    display: flex;
                                                    flex-direction: column;
                                                    justify-content: flex-end;
                                                    align-items: flex-start;
                                                    border-bottom: thin solid #d9d9d9;
                                                    padding-bottom: 5px;
                                                    margin-bottom: 5px;
                                                    color: #1592d2;

                                                    &>a {
                                                        padding-left: 0;
                                                        display: flex;
                                                        flex-direction: column;
                                                        text-align: left;
                                                        align-items: flex-start;

                                                        &>svg {
                                                            color: #000;
                                                            display: inline-block;
                                                            height: 35px;
                                                            width: auto;
                                                            margin-bottom: 10px
                                                        }
                                                    }
                                                }

                                                .secondaryNavItemContent {
                                                    color: #000;

                                                    &>a {
                                                        display: block;
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                        color: #9d9d9d;
                                                        padding: 0;
                                                        line-height: 1.4;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:hover>.secondaryNav {
                                    opacity: 1;
                                    max-height: 280px;
                                }

                                .secondaryNavSimple {
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    z-index: 90;
                                    max-height: 0;
                                    opacity: 0;
                                    overflow: hidden;
                                    transition: all .8s cubic-bezier(.19, 1, .22, 1);

                                    .secondaryNav_inner {
                                        background: #fff;

                                        .secondaryNavSimpleList {
                                            max-width: none;
                                            padding: 0 10px;

                                            .secondaryNavSimpleItem {
                                                flex: 1 1 0px;
                                                padding: 0 10px;
                                                min-width: 0;

                                                &>ul {
                                                    padding: 0;
                                                    margin: 0;
                                                    list-style: none;
                                                    position: static;
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    flex-direction: row;
                                                    justify-content: center;

                                                    li {
                                                        display: flex;
                                                        justify-content: center;

                                                        &>a {
                                                            font-weight: 400;
                                                            font-size: 15px;
                                                            color: #000;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:hover>.secondaryNavSimple {
                                    opacity: 1;
                                    max-height: 160px;
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}