@charset "utf-8";

.Immune {
    width: 100%;

    .Immune_inner {
        width: 100%;
        height: 100%;

        .Immune_bg {
            background: url('../image/immuneBg.jpg') no-repeat center center;
            background-size: cover;
            width: 100%;
            padding: 180px 0 320px;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .6);
                z-index: 1;
            }

            .Immune_Info {
                position: relative;
                text-align: center;
                color: #fff;
                width: 60%;
                margin: 0 auto;
                z-index: 2;

                &>h3 {
                    font-size: 50px;
                    margin-bottom: 45px;
                }

                &>p {
                    font-size: 22px;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }

        .ImmuneBlock {
            position: relative;
            margin-top: -160px;
            z-index: 1;
            color: #fff;

            .ImmuneBlock_inner {
                width: 75%;
                margin: 0 auto;

                .ImmuneBlockItems {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ImmuneBlockItem {
                        flex: 25% 0 0;
                        position: relative;

                        .ImmuneBlockItem_inner {
                            position: relative;
                            height: 0;
                            padding-bottom: 140%;

                            &>h3 {
                                position: absolute;
                                top: 45px;
                                left: 0;
                                width: 100%;
                                text-shadow: 0 0 5px #000;
                                z-index: 10;
                                text-align: center;
                                font-size: 22px;
                            }

                            &>div {
                                height: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                            }
                        }
                    }

                    &>.ImmuneBlockItem:first-child>.ImmuneBlockItem_inner>.ImmuneBlockItemBg {
                        background: url('../image/immune_light.jpg') no-repeat center center;
                        background-size: cover;
                    }

                    &>.ImmuneBlockItem:nth-child(2)>.ImmuneBlockItem_inner>.ImmuneBlockItemBg {
                        background: url('../image/immune_debris.jpg') no-repeat center center;
                        background-size: cover;
                    }

                    &>.ImmuneBlockItem:nth-child(3)>.ImmuneBlockItem_inner>.ImmuneBlockItemBg {
                        background: url('../image/immune_smoke.jpg') no-repeat center center;
                        background-size: cover;
                    }

                    &>.ImmuneBlockItem:last-child>.ImmuneBlockItem_inner>.ImmuneBlockItemBg {
                        background: url('../image/immune_water.jpg') no-repeat center center;
                        background-size: cover;
                    }
                }
            }
        }
    }
}