@charset "utf-8";

.VideoArea {
    width: 100%;
    height: 750px;

    .videoPlayer {
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .videoText {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        width: 70%;
        line-height: 1.2;

        &>h2 {
            font-size: 82px;
            animation: fadein 3s;
        }

        &>h3 {
            font-size: 70px;
            animation: fadein 5s;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

}